.sponsorsbanners 
{
    width: 180px;
    overflow: hidden;
    text-align: center;
}

.sponsorsbanners a {
    display: block;
}

.sponsorsbanners img {
    display: block;
}
/*
     FILE ARCHIVED ON 02:22:17 Apr 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:29:22 Dec 18, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.737
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 4.901
  LoadShardBlock: 363.978 (3)
  PetaboxLoader3.datanode: 377.891 (4)
  load_resource: 107.94
  PetaboxLoader3.resolve: 44.26
*/